.containerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20rem;
}

.formInput {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}