.container {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    box-shadow: 0 0 3px 0 #ccc;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container h2 {
    margin: 0;
    text-align: center;
}

.containerAbout {
    display: flex;
    justify-content: space-between;
}

.img {
    flex: 0 0 40%;
    max-width: 40rem;
}

.img img {
    border-radius: 2rem;
}

.txt {
    flex: 0 0 calc(60% - 2rem);
    font-size: 2.2rem;
}

.btnContacto {
    padding: 1.5rem 2rem;
    background-color: #049dd9;
    border: none;
    cursor: pointer;
    color: #FFF;
    font-weight: 700;
    font-size: 1.8rem;
    transition: all .3s ease-in-out;
    border-radius: 1rem;
}

.btnContacto:hover {
    background-color: #353535;
}