.container {
    margin-top: 5rem;
    background-color: var(--color-secundario);
    height: 50rem;
    display: flex;
    align-items: center;
}

.containerForm {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.containerInput {
    margin: 1rem;
}

.containerInput Label {
    color: #FFF;
    font-size: 1.8rem;
}

.containerInput input{
    padding: 1.5rem;
    width: 100%;
    border: none;
}

.containerInput textarea {
    width: 100%;
}

.containerInput input, 
.container textarea{
    font-size: 1.8rem;
    color: var(--color-secundario);
}