*::after, *::before, * {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 3.2rem;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  width: 90%;
}